.cta {
    padding: 50px 0 60px;
    margin-top: 47px;
    background-color: $light;
    text-align: center;
    @media (max-width: $breakpoint-lg) {
        margin-top: 40px;
    }
    h2 {
        margin-bottom: 32px;
    }

}

