.cta {
    background-color: $light;
    padding: 60px 0;
    margin-top: 50px;
    text-align: center;
    @media (max-width: $breakpoint-lg) {
        margin-top: 40px;
    }
    
    h2{ 
        margin-bottom: 32px;
    }
}

